.headerOfProducts{
    background-color: white;
    padding: 20px 20px 20px 40px;
    position: relative;
    margin-top: 50px;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 26px;

    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      border-left: 6px solid orange;
      height: 100%;
      width: 5%;
    }
  }