.notFound{
    width: 100%;
    height: 81.81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;

    .imageNotFound{
        width: 40%;
        height: 60%;
    }
}